.gradle

bin

output

!output/.gitkeep
build

/bin/

.classpath

.project

.settings/
.cache

Libs/

Data Files/ListPictureAfterDoneTest
Data Files/Trading
Data Files/DepositWithdrawCrypto

*.class

*.log

*.ctxt

.mtj.tmp/

*.jar

*.war

*.ear

*.zip

*.tar.gz

*.rar

hs_err_pid*

Libs/TempTestCase*.groovy

Libs/TempTempCase*.groovy

Libs/TempTestSuite*.groovy

Reports

settings/internal/com.kms.katalon.integration.analytics.properties

settings/internal/com.kms.katalon.integration.jira.properties